<div class="header">
  <h1 class="header_title">注文リスト<h1>
</div>
<div class="sub_header">
  <%= link_to(root_path, class: "sub_header_link") do %>
    <i class="fas fa-angle-left icon"></i>
    メニュー選択に戻る
  <% end %>
</div>
<div class="total">

  <%= render 'layouts/total_list', items: @history_items %>

  <div class="round_btn round_btn_red">
    <%= link_to "確定", thanks_path %>
  </div>
</div>

<%= render @history_items %>