<div class="wrapper order_complete">

  <div class="header">
    <h1 class="header_title">
      ご利用ありがとうございました
    </h1>
  </div>

  <div class="main">
    <div class="complete_content">
      <div class="complete_text">
        <span class="complete_text_description">
          レジにてお会計をお願いいたします
        </span>
      </div>
    </div>
  </div>

</div>