<div class="order_list">
  <% if @history_items %>
    <% @history_items.each do |item| %>
      <% menu = Menu.find_by(id: item.menu_id) %>
      <%= menu.name %>
    <% end %>
  <% end %>
</div>
<div id ='orders'>
  <% @history_items.each do |order| %>
    <%= render partial: 'orders/order', locals: {order: order} %>
  <% end %>
</div>