<div class="col-md-6 offset-md-3">
  <section class="table_form">
    <h1>テーブル作成</h1>
    <%= form_with(model: @table, local: true) do |f| %>
    <div class="number_field">
      <%= f.number_field :table_number, placeholder: "テーブル番号" %>
    </div>
    <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </section>
</div>