@import "bootstrap";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #391813;
}

a:hover {
  opacity: 0.5;
}


input:focus,
button:focus {
  outline: 0;
}

button {
  border: none;
  background-color: inherit;
}

html {
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif !important;
  color: #391813;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {

  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #391813;
  }
}

.text_gray {
  color: #989898;
}

.round_btn a,
.round_btn button {
  display: table;
  height: 40px;
  letter-spacing: 1px;
  padding: 0 60px;
  max-width: 300px;
  border-radius: 60px;
  margin: 0 auto;
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
}

.round_btn_gray a,
.round_btn_gray button {
  background: #C1C0BE;
  color: #ffffff;
}

.round_btn_red a,
.round_btn_red button {
  background: #DE412B;
  color: #ffffff;
}

.round_btn_blue a,
.round_btn_blue button {
  background: #ffffff;
  color: #59A2B9;
  border: 1px solid #59A2B9;
}

.item_number_btn {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: min-content;
}

.item_number_btn .item_number_minus,
.item_number_btn .item_number_plus {
  color: #6EB2C8;
  height: 100%;
  padding: 10px 25px;
  cursor: pointer;
}

.item_number_btn .item_number_minus.limit,
.item_number_btn .item_number_plus.limit {
  color: #DEDEDE;
  pointer-events: none;
}

.item_number_btn .item_number {
  text-align: center;
  font-weight: bold;
}

.menu_item_info_name {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 4px 2px;
  max-height: 60px;
  line-height: 18px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.menu_item_info_price {
  font-size: 14px;
}

.menu_item_info_price span.text_gray {
  font-size: 12px;
}

.wrapper {
  height: 100%;
}

.header {
  position: fixed;
  z-index: 990;
  top: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #DEDEDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.header_title {
  text-align: center;
  margin: 0 auto 0 0;
  font-size: 15px;
  font-weight: bold;
}

.menu .header_title {
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header_btn {
  border-radius: 40px;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  flex-shrink: 0;
}

.header_btn .header_btn_inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.header_btn img {
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
}

.header_btn i.fa-arrow-down {
  margin: 2px 0 0 0;
}

.header_btn_left {
  position: absolute;
  left: 15px;
}

.header_btn_right {
  position: absolute;
  right: 15px;
}

.header_btn_blue {
  border: 1px #59A2B9 solid;
}

.header_btn_blue a {
  color: #59A2B9;
}

.header_btn_red {
  border: 1px #DE412B solid;
}

.header_btn_red a {
  color: #DE412B;
}

.menu .header_btn {
  margin: 0 0 0 auto;

}

.menu .header_btn:last-child {
  margin: 0 0 0 10px;
}




.sub_header {
  position: fixed;
  top: 50px;
  background: #F1F0EA;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 700;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub_header_link {
  font-size: 13px;
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub_header_link .icon {
  margin: 0 5px 0 0;
}

.sub_header_info .sub_header_info_headline {
  font-size: 12px;
  font-weight: bold;
  color: #59A2B9;
  margin: 0 2px 0 0;
}

.sub_header_info .sub_header_info_description {
  font-size: 18px;
  font-weight: bold;
}

.main {
  background: #FDFDFD;
  padding: 50px 0 0 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: scroll;
  transform: translate3d(0, 0, 0);
}

.sub_header~.main {
  padding-top: 100px;
}



.card_form~.main {
  padding-bottom: 250px;
}


.main>div {
  max-width: 520px;
  margin: 0 auto;
}

.total {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 700;
  border-radius: 23px 23px 0 0;
  -webkit-box-shadow: 0 -2px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 25px rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 30px 20px 30px;
}

.total_list_wrap {
  padding: 15px 40px;
  background: #F1F0EA;
  border-radius: 5px;
  margin: 0 0 15px 0;
}

.total_list .total_listitem {
  font-size: 14px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 5px 0;
}

.total_list .total_listitem:last-child {
  margin: 0;
}

.total_list .total_listitem_emphasis {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

.menu .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_sidenavi {
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  -ms-flex-negative: 0;
  padding: 0 3px 0 0;
  margin: 0 !important;
}

.menu_sidenavi_list {
  background: #F1F0EA;
  padding: 0 0 90px 0;
  min-height: 100%;
}

li.menu_sidenavi_listitem a {
  background: #F1F0EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 64px;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  word-break: break-all;
}

li.menu_sidenavi_listitem a:hover {
  opacity: 1;
  color: #675755;
}

li.menu_sidenavi_listitem.active a {
  background: #E7E5DC;
  border: none;
  position: relative;
}

li.menu_sidenavi_listitem.active a::before {
  content: '';
  border-bottom: 1.5px solid #E7E5DC;
  position: absolute;
  background: #E7E5DC;
  width: 100%;
  top: -1.5px;
  left: 0;
}

li.menu_sidenavi_listitem.active a::after {
  content: '';
  position: absolute;
  background: #E7E5DC;
  height: calc(100% + 1.5px);
  width: 3px;
  border-radius: 0 3px 3px 0;
  right: -3px;
  top: -1.5px;
}

.menu_content {
  padding: 0 15px 90px 20px;
  height: auto;
  min-height: 100%;
  width: 80%;
  overflow: scroll;
}

.menu_content_items {
  padding-top: 20px;
}

.menu_content_items_title {
  font-size: 13px;
  font-weight: bold;
  border-left: 4px solid #6EB2C8;
  line-height: 13px;
  padding: 0 0 0 5px;
  margin: 0 0 10px 0;
}

li.menu_content_items_listitem .menu_item_img {
  height: 100%;
  min-width: 40%;
  text-align: center;
  overflow: hidden;
  border-radius: 3px;
  max-width: 110%;
}

li.menu_content_items_listitem .menu_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center center;
}

.menu_item_info {
  position: relative;
  padding: 10px;
  width: 100%;
}


/* 料金表記 */
.menu_item_info .menu_item_info_price_wrap.list {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.menu_item_info .menu_item_info_price {
  font-size: 16px;
}

/* 税込表記 */
.menu_item_info .text_gray {
  font-size: 12px;
}

/* 個数選択 */
.menu_item_info .item_number_minus,
.menu_item_info .item_number_plus {
  padding: 0 10px;
}



.menu_total {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  border-radius: 23px 23px 0 0;
  -webkit-box-shadow: 0 -2px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 25px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_total_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_total_info_unit {
  margin: 0 0 0 50px;
}

.menu_total_info_headline,
.menu_total_info_description {
  display: block;
}

.menu_total_info_headline {
  font-size: 10PX;
  font-weight: bold;
  color: #59A2B9;
  margin: 0 0 2px 0;
  white-space: nowrap;
}

.menu_total_info_description {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

.menu_total_info_description span.text_gray {
  font-size: 12px;
  font-weight: normal;
}

.menu_order_btn a {
  color: #ffffff;
  background: #DE412B;
  display: inline-block;
  font-weight: bold;
  border-radius: 40px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  font-size: 14px;
  white-space: nowrap;
  margin: 0 20px;
}

.orderlist_content {
  padding: 15px 15px 191px 15px;
}

.orderlist_contents_items_listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  min-height: 110px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  background: #ffffff;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.orderlist_contents_items_listitem:last-child {
  margin: 0;
}

.orderlist_contents_items_listitem .menu_item_info {
  padding: 0;
}

.orderlist_item_img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 15px 0 0;
}

.orderlist_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.orderlist_items_option {
  text-align: right;
  padding: 0 5px;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
}


.orderlist_items_option_delete {
  color: #DE412B;
  font-size: 13px;
  letter-spacing: 1px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  top: 0;
}

@media screen and (max-width: 360px) {
  .orderlist_items_option {
    flex-direction: column;
  }

  .orderlist_items_option_delete {
    margin-top: 5px;
  }
}

.option_price {
  text-align: right;
}



.complete_content {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.complete_text {
  margin: 0 0 50px 0;
}

.complete_text .complete_text_headline,
.complete_text .complete_text_description {
  display: block;
  text-align: center;
}

.complete_text .complete_text_headline {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.complete_text .complete_text_description {
  font-size: 15px;
}

.item_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 130px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.item_detail_img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 30vh;
  text-align: center;
  padding: 10px;
}

.item_detail_img img {
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
  height: 100%;
  border-radius: 5px;
}

.item_detail_info {
  padding: 0 15px 10px 15px;
  margin: 15px 0;
}

.item_detail_info .item_detail_category {
  font-size: 12px;
  font-weight: bold;
  color: #59A2B9;
}

.item_detail_info .item_detail_name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}

.item_detail_info .item_detail_price {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.item_detail_info .item_detail_price span.text_gray {
  font-size: 13px;
}

.item_detail_info .item_detail_description {
  font-size: 13px;
  line-height: 20px;
}

.item_detail_description {
  white-space: break-spaces;
  word-wrap: break-word;
}

.item_number_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 15px 0;
}

.item_number_btn_headline {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px 0 0;
}



.item_detail_btns .round_btn {
  margin: 0 0 10px 0;
}

.item_detail_btns .round_btn:last-child {
  margin: 0;
}

.item_detail_btns .round_btn a {
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.modal_item_detail {
  min-height: 90px;
  display: flex;
  margin: 0 0 10px 0;
  box-shadow: 0.1px 1.5px 6px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  background: white;
}

.item_delete_btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

#quantity {
  border-radius: 3px;
  width: 35px;
  margin-bottom: 0;
}

.submit {
  border-radius: 3px;
  width: 35px;
  margin-bottom: 0;
  color: #ffffff;
  background: #59A2B9;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}

.number_input {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.menu_form {
  margin-top: 50px;
}

.alert {
  margin-bottom: 0;
  padding: 3px;
}

.item_detail_container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0.1px 1.5px 6px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.order_list {
  padding: 70px 0 0 0;
}

.item_text {
  font-weight: bold;
}

.form-check-input {
  vertical-align: middle;
  width: auto;
  position: relative;
  top: -1px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px;
}

label {
  margin: 0;
}